<section class="section">
  <div class="container">
    <h2 class="is-size-2">
      Shortened URLs
    </h2>

    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <form id="shorten_url" class="field has-addons">
            <div class="control">
              <input name="url" class="input" type="url" placeholder="Shorten a URL" required>
              <p id="help_block" class="help">Please enter a valid URL</p>
            </div>
            <div class="control">
              <button type="submit" class="button is-info">
                Shorten!
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <% if urls.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>
              Original URL
            </th>
            <th>
              Short URL
            </th>
            <th>
              Created at
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% urls.each do |url| %>
            <tr>
              <td><%= link_to url.href, url.href, { target: '_blank' } %></td>
              <td>
                <%=
                  link_to(
                    "#{ENV['BASE_URL']}/#{Linkin::Url.encode(url.id)}",
                    routes.path(:short_url, encoded: Linkin::Url.encode(url.id)),
                    { target: '_blank' }
                  )
                %>
              </td>
              <td><%= url.created_at %></td>
              <td>
                <%= link_to 'View', routes.path(:url, id: url.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="notification is-info">
        It seems that you don't have any shortened URLs yet.
      </div>
    <% end %>
  </div>
</section>
