<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linkin</title>
    <%= favicon %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'Linkin', routes.root_path, class: 'navbar-item' %>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content">
          <p>
            Built on <a href="http://hanamirb.org/">Hanami</a> Framework 🌸
          </p>
          <p>Source code available <a href="https://github.com/and1zero">here</a></p>
        </div>
      </div>
    </footer>

    <%= javascript "application" %>
  </body>
</html>
